/*
	MegaCorp by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

    
body
{
    max-width: 100vw;
    overflow-x: hidden;
	margin-top: 0;
	font-size: 9.50pt;
	letter-spacing: 0;
}

h2, h3, h4, h5, h6
{
}

h2
{
	letter-spacing: normal !important;
	font-size: 1.5em !important;
}

h3
{
	font-size: 1.00em !important;
}

.container
{
	padding: 0px 15px;
}


/* Sections/Articles */

	section,
	article
	{
		clear: both;
		margin: 2em 0em 2em 0em !important;
	}

	section > :first-child,
	article > :first-child
	{
		margin-top: 0 !important;
	}

	section:first-child,
	article:first-child
	{
		margin: 1em .5em 0 !important;
	}


.button
{
	display: block;
  padding: .5em .8em  .7em;
}

.button span
{
	display: block;
}

/* List style 5 */

	ul.style5 
	{
		margin-left: 1.35em;
	}
	
	ul.style5 li
	{
		line-height: 1.75em;
		list-style: decimal;
	}

/* Header */

	#header
	{
	}

/* Logo */

	#logo {
		position: relative;
    text-align: center;
    font-size: 1.8em;
    line-height: 2.1em;
    padding-bottom: 10px;
	}

  @media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    #logo {
      font-size: 2.2em;
    }
}


	
	#logo h1 a {
		letter-spacing: -1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 2.50em;
		font-weight: 900;
		color: #FFF;
	}
	
	#nav
	{
		display: none;
	}

/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

.contact-widget {
  display: none;
}

#titleBar
{
  top: 10px !important;
  left: 5px !important;
}

	#titleBar .title 
	{
		display: none;
		color: #fff !important;
		text-align: center;
		line-height: 44px;
		font-weight: 800;
	}

	#titleBar .toggle
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 55px;
		height: 50px;
	}

		#titleBar .toggle:before
		{
			content: '';
			display: block;
			width: 44px;
      height: 39px;
			background: rgba(213, 220, 230, .95);
			border-radius: 4px;
			position: absolute;
			left: 5px;
			top: 5px;
			box-shadow: 0.125em 0.125em 0 0 rgba(0,0,0,0.10);
		}

		#titleBar .toggle:after
		{
			content: '';
			display: block;
			width: 15px;
      height: 12px;
			position: absolute;
			left: 19px;
      top: 18px;
			background: url('images/mobileUI-site-nav-opener-bg.svg') 0px 0px no-repeat;
			opacity: 1;
      filter: brightness(0.3);
		}

		#titleBar .toggle:active:after
		{
			opacity: 1;
		}

#navPanel
{
	background: #101214;
	font-weight: 400;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 2px;
	font-size: 1em;
}

	#navPanel .link
	{
		display: block;
		color: #ddd;
		text-decoration: none;
		height: 44px;
		line-height: 44px;
		border: 0;
		border-top: solid 1px #202122;
		padding: 0 1em 0 1em;
	}
	
		#navPanel .link:first-child
		{
			border-top: 0;
		}
		
		#navPanel .link.depth-0
		{
			font-weight: 600;
			color: #fff;
		}

		#navPanel .indent-1 { display: inline-block; width: 1em; }
		#navPanel .indent-2 { display: inline-block; width: 2em; }
		#navPanel .indent-3 { display: inline-block; width: 3em; }
		#navPanel .indent-4 { display: inline-block; width: 4em; }
		#navPanel .indent-5 { display: inline-block; width: 5em; }
		#navPanel .depth-0 { color: #fff; }

/* Banner */

	#banner
	{
    height: auto;
    position: relative;
		background-position: right bottom;
	}

  .header-group {
    position: absolute;
    top: -10px;
    bottom: 0;
    margin: auto;
    height: fit-content;
  }

	#banner section
	{
		text-align: center;
    margin: 0 !important;
	}


	#banner header .byline
	{
    padding: 0em .3em;
    font-size: 1.3em;
    color: #fff;
	}


  #banner header .byline.-nomobile {
    display: none;
  }

  .skill {
    width: 80px;
  }
  

	#banner h2
	{
		padding: 0 0 0 0 !important;
		letter-spacing: normal;
	}

	#banner p
	{
		padding: 0 0 0 0 !important;
		font-size: 1.00em;
	}

/* Wrapper */

	#wrapper
	{
		padding: 3em 0em 3em 0em;
	}

/* Featured Area */

	#featured-wrapper
	{
		overflow: hidden;
		padding: 3em 0em 0em 0em;
	}

  #featured-wrapper .byline{
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: justify;
    display: block;
    margin-bottom: 1.5em;
  }

  #featured-wrapper .container {
    margin-bottom: 3em;
  }

  #featured-wrapper .button {
    margin: 20px 0px 10px;
    padding: .5em .8em  .7em;
  }

  #featured-wrapper p {
    height: auto;
  }

  #page {
    padding: 1em 0em 1em 0em;
    top: -2em;
    position: relative;
  }

  #eapps-facebook-feed-1 .eapps-facebook-feed-content-container {
    height: 240px !important;
  }

  .eapps-facebook-feed-extra-small .eapps-facebook-feed-photos-item {
    flex: 0 0 33.3333333% !important;
    margin: 0 auto 0px !important;
  }

  .eapps-facebook-feed-photos-item:before {
    padding: 60px !important;
  }

  #featured-wrapper .row.double > * {
    padding: 10px 20px 5px !important;
  }

  .container .row.double {
    margin: 0 !important;
  }

  #page .reverse{
    display: flex;
    flex-direction: column-reverse;
  }

  #page .container {
    margin-bottom: 10px;
  }

  #contact {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
  }

  #contact h3{
    font-weight: 600 !important;
    font-size: 1.4em !important;
    margin-bottom: 0 !important;
  }

  #header-wrapper {
    background-image: url(images/mobile-header.jpg);
    background-size: cover;
    background-position: center;
  }

  #header-wrapper #intro-video {
    /*display: none;*/
  }

  #header-wrapper:before {
    background: rgba(0, 0, 0, .5);
  }
/* Sidebar */

	#sidebar
	{
	}

	#sidebar #box1 section
	{
		margin: 0em 0em 2em 0em !important;
	}

/* Two Column Area */

	#two-column section
	{
		margin: 0em 0em 2em 0em !important;
	}

/* Copyright */

	#copyright
	{
	}



